<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculation Library</title>
</head>
<body>
<header>

</header>
<main>
    <h1>Calculation Library</h1>
    <p>This is library allows for basic mathmatical functions to be tied to HTML interfaces for maximum flexiablity.</p>
    <h2>Sample</h2>
    <js-c is="calc" datastore="{ total:2, base:10, interest:0.13 }">
        <h3>Tax Calculation</h3>
        <label for="base">Base Number ($)
            <input id="base" type="text" placeholder="0.00" data-@jsc="change:setBase"/>
        </label>
        <br>
        <label for="interest">Interest (%)
            <input id="interest" type="text" placeholder="13" data-@jsc="change:setInterest"/>
        </label>
        <p data-@jsc="text:getTotal"></p>
    </js-c>
</main>
<footer>

</footer>
<!--
@SCRIPTS
-->
<script src="/vendor/requirejs/2.3.6/require.js" data-main="/core/jsc"></script>
</body>
</html>